server {
  listen {{nginx_listen_port}};
  root /home/vagrant/gopath/src/ilovetravel.com/karma-frontend/build;
  server_name karma.dev;
  sendfile off;

  gzip_vary on;
  gzip_proxied any;
  gzip_comp_level 6;
  gzip_buffers 16 8k;
  gzip_http_version 1.1;
  gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  location / {
    try_files $uri $uri/ /index.html;
  }

  location /api/karma/ {
    proxy_pass {{karma_url}}/;
  }

  location /api/auth/ {
    proxy_pass {{auth_url}}/;
  }

  location /api/search/ {
    proxy_pass {{search_url}}/;
  }

  location /api/email/ {
    proxy_pass {{email_url}}/;
  }

  location /api/history/ {
    proxy_pass {{history_url}}/;
  }
}